body
{
    font-family: 'Acme', sans-serif;
    background-color:azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0%;
}
@media only screen and (min-width: 768px) {
    .calculator {
        width: 80%;
        margin-bottom: 2.5%;
        margin-top: 3%;
    }
    h1 {
        width: 90%;
    }
}
/* Mobile styles */
@media only screen and (max-width: 767px) {
    .calculator {
        width: 37%;
        margin-bottom: 2.5%;
        margin-top: 1.7%;
    }
    h1 {
        width: 80%;
    }
}
/* 
@media (max-width: 480px) {
    .calculator {
        width: 80%;
        margin-bottom: 2.5%;
        margin-top: 3%;
    }
    h1 {
        width: 90%;
    }
}

@media (min-width: 480px) and (max-width: 600px) {
    .calculator {
        width: 65%;
        margin-bottom: 2.5%;
        margin-top: 3%;
    }
    h1 {
        width: 90%;
    }
}

@media (min-width: 600px) and (max-width: 1000px) {
    .calculator {
        width: 55%;
        margin-bottom: 2.5%;
        margin-top: 3%;
    }
    h1 {
        width: 80%;
    }
}

@media (min-width: 1000px) {
    .calculator {
        width: 37%;
        margin-bottom: 2.5%;
        margin-top: 1.7%;
    }
    h1 {
        width: 80%;
    }
} */

h1
{
    margin-top: 2%;
    padding-top: 0.9%;
    padding-bottom: 0.9%;
    color: rgb(0, 238, 255);
    font-size: 210%;
    background-color:  #007bff;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 0 #000000bd;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}
.calculator {
    border-radius: 4%;
    padding: 20px;
    background-color: #c6dfec;
    box-shadow: 0px 2px 8px 0 #447797a9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}
div
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3.333333334%;
    height: 85vh;
}

button
{
    width: 22.5%;
    height: 110%;
    border: none;
    margin:0%;
    font-size: 200%;
    font-family: 'Concert One', sans-serif;
    transition: transform  0.2s;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.322);
    border-radius: 25px;

}
#eq
{
    width: 48.3334%; 
}
.buttonno{
    background-color: #48a2f3;
}
.buttonc{
    background-color: #f3686a;
}
.buttono{
    background-color: #f0a734;   
}

.buttone{
    background-color: #28ce54;
}

.buttonc:hover,.buttonno:hover,.buttono:hover,.buttone:hover {
    transform: scale(1.08);
    cursor:grab;
}


input[type="text"] {
    height: auto;
    background-color: rgb(214, 213, 213);
    width: 97%;
    height:100%;
    font-family: 'Handjet', sans-serif;
    font-size: 300%;
    padding: 1%;
    margin: 1% 0;
    border-radius: 15px 15px 3px 3px;
    border-color: grey;
    border: 2.5px solid rgb(194, 193, 193);
    user-select: none;
}
input:focus
{
    outline: none;
}
