body
{
    font-family: 'Acme', sans-serif;
    background-color:azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0%;
}

@media (max-width: 1100px) {
    .calculator {
        width: 90%;
        margin-bottom: 2.5%;
        margin-top: 3%;
    }
    h1 {
        width: 90%;
        font-size: 550%;
    }
    button
    {
        font-size: 475%;
        border-radius: 69px;
    }
    input
    {
        font-size: 550%;
        width: 94%;
    }
}


@media (min-width: 1100px) and (max-width: 1400px) {
    .calculator {
        width: 42%;
        margin-bottom: 2.5%;
        margin-top: 3%;
    }
    h1 {
        width: 80%;
        font-size: 210%;
    }
    button
    {
        font-size: 200%;
        border-radius: 25px;
    }input
    {
        font-size: 320%;
        width: 97%;
    }
}

@media (min-width: 1400px) {
    .calculator {
        width: 37%;
        margin-bottom: 2.5%;
        margin-top: 1.7%;
    }
    h1 {
        width: 80%;
        font-size: 210%;
    }
    button
    {
        font-size: 200%;
        border-radius: 25px;
    }input
    {
        font-size: 320%;
        width: 97%;
    }
}

h1
{
    margin-top: 2%;
    padding-top: 0.9%;
    padding-bottom: 0.9%;
    color: rgb(0, 238, 255);
    background-color:  #007bff;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 0 #000000bd;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}
.calculator {
    border-radius: 20px;
    padding: 20px;
    background-color: #c6dfec;
    box-shadow: 0px 2px 8px 0 #447797a9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    padding-bottom: 30px;
}
div
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3.333333334%;
    height: 85vh;
}

button
{
    width: 21%;
    height: 110%;
    border: none;
    margin:0%;
    font-family: 'Concert One', sans-serif;
    transition: transform  0.2s;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.322);
}
.buttonno{
    background-color: #48a2f3;
}
.buttonc{
    background-color: #f3686a;
}
.buttono{
    background-color: #f0a734;   
}

.buttone{
    background-color: #28ce54;
}

.buttonc:hover,.buttonno:hover,.buttono:hover,.buttone:hover {
    transform: scale(1.08);
    cursor:grab;
}


input[type="text"] {
    height: auto;
    background-color: rgb(214, 213, 213);
    height:100%;
    font-family: 'Handjet', sans-serif;
    padding: 1%;
    margin: 1% 0;
    border-radius: 15px 15px 3px 3px;
    border-color: grey;
    border: 2.5px solid rgb(194, 193, 193);
    user-select: none;
}
input:focus
{
    outline: none;
}